body {
    background-image: linear-gradient(#e2d2b7, rgb(228, 200, 89));
    min-height: 100vh;
    padding-inline: 64px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
}

input[type="email"]:focus,
textarea:focus {
    border-color: #66afe9;
    outline: none;
    background-color: #fff;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ed9911;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c78a27;
}

button:active {
    background-color: #388e3c;
}